/* Style général */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2 {
    font-size: 40px;
    line-height: 54px;
}

h4 {
    font-size: 20px;
    color: black;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: black;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 800;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s ease;
}
body {
    width: 100%;
}

/* section enTête Welcome */
#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 10px;
}

#welcome h4 {
    color: white;
    font-size: 14px;
}
/* Barre de navigation */
.logo {
    max-width: 360px;
}

/* Header Start */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 80px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: black;
    transition: 0.4s ease;
}

#navbar li a:hover,
#navabr li a.active {
    color: rgb(8, 7, 7);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: black;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Home page image accueil */

#hero {
    background-image: url("Asset/image/Hbaccueilpage.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
    color: white;
}

#hero h2 {
    color: white;
}

#hero h1 {
    color: whitesmoke;
}

#hero p {
    color: white;
    font-weight: bolder;
}

#hero button {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border-radius: 12px;
    font-weight: bold;
    border: black;
    background-repeat: no-repeat;
    cursor: pointer;
}

#hero button:hover {
    background-color: black;
    color: white;
    transition: 0.8s ease;
}

/* Feature logo client retour, suivi, sav */

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature img {
    width: 100px;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.08);
    border: 1px solid;
    border-radius: 5px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(23, 23, 24, 0.7);
    transition: 0.5s ease;
}

#feature .fe.box img {
    width: 100%;
    margin-bottom: 20px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 8px 8px;
    line-height: 1;
    border-radius: 4px;
    color: white;
    background-color: black;
}

/* section collectin Harveyton */
#produit1 {
    text-align: center;
}
#produit1 p {
    font-weight: bolder;
}

#produit1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;

}
#produit1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 2px solid #000000;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    margin: 15px 0;
    transition: 0.3s ease;
}

#produit1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 10, 20, 0.08);
    background-color: black;
    color: white;
}


#produit1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#produit1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#produit1 .pro .des span{
    color: dimgray;
    font-size: 12px;
    font-weight: bolder;
}

#produit1 .pro .des h5 {
    padding-top: 7px;
    font-size: 14px;
  
}

#produit1 .pro .des i {
    font-size: 12px;
    color: goldenrod;
}

#produit1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 900;
    color: dimgrey;
}


#produit1 .pro a {
    background-color: black;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 800;
}

#produit1 .pro a:hover {
    background-color: white;
    color: black;
    transition: 0.6s ease;
}

#produit1 .pro img {
    width: 250px;
    height: 250px ;
}

/* section banner soldes 60% */

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: white;
    font-size: 16px;
}

#banner h2 {
    color: white;
    font-size: 35px;
    padding: 20px 0;
 }

 #banner h2 span {
    margin-bottom: 10px;
    border: solid 2px white;
    padding: 5px 2px;
 }
 

 #banner button:hover {
    background-color: rgb(9, 9, 9);
    color:rgb(247, 241, 241);
    transition: 0.4s ease;
    font-weight: bolder;
    border: solid white;
 }

 /* section sm-banner */

 #sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 #sm-banner .banner-box1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background-image: url(Asset/image/collectionHommes2.png);
    min-width: 600px;
    height: 90vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 6px;
}

 #sm-banner .banner-box2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    background-image: url(Asset/image/Collectionfemme.png);
    min-width: 600px;
    height: 90vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 6px;
}
#sm-banner  h2 {
    color: white;
    font-size: 30px;
    font-weight: 800;
    align-items: flex-end;
}

#sm-banner a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: black;
    transition: 0.4s ease;
    border: solid 2px black;
    padding: 10px 15px;
    border-radius: 6px;
} 

#sm-banner a:hover {
    background-color: black;
    color: white;
    transition: 0.4s ease;
    border: solid 2px white;
}

/* section Blog */

#blog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
    margin-top: 30px;
}
#blog .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(Asset/image/Blog1.png);
    min-width: 50vh;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 6px;
}

#blog .banner-box2{
    background-image: url(Asset/image/Blog.3.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50vh;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 6px;
}

#blog .banner-box3{
    background-image: url(Asset/image/Blog3.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50vh;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 6px;
}

#blog a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: white;
    transition: 0.4s ease;
    border: solid 2px white;
    padding: 10px 15px;
    border-radius: 6px;
   
} 

#blog a:hover {
    background-color: black;
    color: white;
    transition: 0.4s ease;
    border: solid 2px white;
}
#blog h2 {
     color: black;
     font-size: 35px;
     margin-bottom: 40px; 
     margin: 0 auto;
     padding-bottom: 40px;
}

/* section Newsletter */